langchain
gradio
transformers
sentence_transformers
faiss-cpu
unstructured
duckduckgo_search
mdtex2html
chardet
cchardet
cpm_kernels
accelerate
textsplitter
tqdm
feedparser
nltk
markdown
pygments
pandas
pymupdf
paddlepaddle==2.4.2
paddleocr~=2.6.1.3